.page-wrapper {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95%;
  width: 95%;
  position: absolute;
  margin: 0 auto;
}
header, main, footer {
  background: black;
  width: 100%;
  border: 0.1em solid white;
  padding: 1em;
  color: white;
  border-radius: 0.5em;
}
header, footer {
  height: 12.5%;
}

main {
  height: 75%;
}
