body {
  display: flex;
  background: black;
  width: 100%;
}

.page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  /*background: rgba(0,255,0,0.2);*/
  border: 0.1em solid white;
  height: 95%;
  width: 95%;
  position: absolute;
  margin: 0 auto;
  border-radius: .25%;
}
